.plataforma{
    position: relative;
    top: -88px;
    background-color: rgb(56, 173, 166);
    height: 763px;
    .txt-plataforma{
        width: 830px;
        margin: 0 auto;
        text-align: center;
        padding: 30px 0 20px;
        letter-spacing: 0px;
        h1{
            font-size: 54px;
        color: #fff;
        font-weight: bold;
        line-height: 70px;
        }
    }

    .mockup{
        width: 960px;
        margin: 0 auto;
        background: #fff;
        border-radius: 16px;
        height: 540px;
        h1{
            color: rgb(56, 173, 166);
            font-weight: bold;
            font-size: 63px;
            text-align: center;
            padding: 70px 0 35px;
        }
    }
}